body,html{
    background: lightpink;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}

.main{
    border: 3px solid;
    box-shadow: 0 0 15px rgb(0, 0, 0, 0.2);
    height: 500px;
    width: 1000px;
    background-color: rgb(232, 186, 223);
    position: relative;
    display: flex;
    border-radius: 10px;
}
p{
    font-size: 20px;
    font-family: "consolas";
    position: absolute;
    bottom: 55px;
    left: 230px;
}
#hint{
    font-size: 20px;
    font-family: "consolas";
    position: absolute;
    bottom: 35px;
    left: 230px;
}
.box {
    position: absolute;
    left: 650px;
    top: 35px;
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #ffffffbb;
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(0, 0, 0, 0.2);
    text-align: center;
    width: 250px;
    height: 400px;
    margin: auto;
}
.key button {
    width: 60px;
    height: 60px;
    margin: 0px;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    background-color: #e48bc9;
    color: white;
    border: none;
    border-radius: 12px;
    transition: transform 0.3s ease;
}
.key{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3,50px);
    row-gap: 10px;
    column-gap: 30px;
    top: 120px;
    justify-content: center;
    align-items: center;
}
.key button:hover{
    background-color: #a86994;;
    transform: scale(1.1);
}

img{
    position: absolute;
    border: none;
    border-radius: 10px;
    color: white;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
    top: 100px;
    left: 80px;
    height: 275px;
}
#passcodeDisplay {
    position: absolute;
    top: 50px;
    width: 200px;
    height: 20px;
    border: 2px solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 17px;
    text-align: center;

}